<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moris.tavda">

    <application
        android:name=".ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_town"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".internet"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity> <!-- <activity -->
        <!-- android:name=".Authentication" -->
        <!-- android:label="@string/label_emailpassword" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" /> -->
        <activity
            android:name=".ActivityWebview"
            android:configChanges="orientation|screenSize"
            android:label="ActivityWebview"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CamActivity"
            android:configChanges="orientation|screenSize"
            android:label="CamActivity"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- <activity -->
        <!-- android:name=".SettingsActivity" -->
        <!-- android:label="@string/title_activity_settings" /> -->
        <!-- <receiver android:name=".servic.TavdaBroadReceiv"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- <action android:name="android.intent.action.QUICKBOOT_POWERON" /> -->
        <!-- <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <service -->
        <!-- android:name=".servic.TavdaService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>